version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: satya_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/code/app
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: satya_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    restart: always
